<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 編碼 -->
	<meta charset="UTF-8">
	
	<!-- RWD網頁設定 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	
	<!-- IE兼容模式 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- 取消快取 -->
	<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
	<META HTTP-EQUIV="EXPIRES" CONTENT="0">
	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
	
	<title>list emp page</title>
	
	<!-- Favicons -->
	<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="180x180">
	<link rel="icon" href="img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
	<link rel="icon" href="img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
	<link rel="manifest" href="img/favicons/manifest.json">
	<link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#563d7c">
	<link rel="icon" href="img/favicons/favicon.ico">
	<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#563d7c">
	
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.4.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" href="css/dashboard.css" th:href="@{/css/dashboard.css}">
</head>
<body>
	<!-- 
	故意空格，不然會被解析到
	[ [ ] ]，轉義，會將htmlcode當成字串
	[ ( ) ]，不轉義，會將htmlcode當成html
	 -->
	<!-- 等同於 th:insert ，目前雖然mark住，但並非thymeleaf註解，因此會拿掉
	<div>[ ( ~{fragments/nav::#nav} ) ]</div>
	-->
	<div th:replace="~{fragments/nav::#nav}"></div>
	
	<div class="container-fluid">
		<div class="row">
			<div th:replace="~{fragments/sidebar::#sidebar(navUri='emps')}"></div>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<h2><a class="btn btn-sm btn-success" href="emp" th:href="@{/emp}">新增員工</a></h2>
				<div class="table-responsive">
					<table class="table table-striped table-sm">
						<thead>
							<tr>
								<th>#</th>
								<th>lastName</th>
								<th>email</th>
								<th>gender</th>
								<th>birth</th>
								<th>department</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="emp, empStat: ${emps}">
								<td th:text="${empStat.index + 1}"></td>
								<td th:text="${emp.lastName}"></td>
								<td>[[${emp.email}]]</td>
								<td th:text="${emp.gender==0?'男':'女'}"></td>
								<td th:text="${#dates.format(emp.birth, 'yyyy-MM-dd')}"></td>
								<td th:text="${emp.department.deptName}"></td>
								<td>
									<a class="btn btn-sm btn-primary" th:href="@{/emp/} + ${emp.id}">修改</a>
									<!-- 自訂義屬性，th:attr="src=@{/images/gtvglogo.png},title=#{logo},alt=#{logo}" -->
									<button class="btn btn-sm btn-danger delBtn" th:attr="delkey=@{/emp/} + ${emp.id}">刪除</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<form id="delForm" method="post">
					<input type="hidden" name="_method" value="delete"></input>
				</form>
			</main>
		</div>
	</div>
	
	<div th:replace="~{fragments/footer::footer('')}"></div>
	
	<script>
		$(".delBtn").click(function(event){
			$("#delForm").attr("action", $(this).attr("delkey")).submit();
			return false;		// 取消button預設行為
		});
	</script>
</body>
</html>
